# Claude Code local config
.claude/

node_modules/
dist/
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# credenciales de prueba locales
usuarios-prueba.txt
CREDENCIALES.md

# build outputs
ms-usuarios/dist/
ms-frontend-landing/dist/
ms-salas/dist/
api-integracion/dist/

docker-compose.override.yml

# SonarQube scanner cache local
.scannerwork/
